<link rel="stylesheet" href="/stylesheets/styles.css">
<div class="flex">
{{#each response}}


<div>
    <div>
        <img src="{{this.image}}" alt="movie" width="150px" height="200px">
    </div>
    <div class="description">
    
     
       <a href="/movie?id={{this._id}}"><h4> {{this.title}}</h4></a>
    
        
    </div>
</div>

{{/each}}
</div>



