body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
color:white;
  background:url("/images/cinema.jpg") ;
  background-repeat: no-repeat;
  background-size: auto;
}

a {
  color: #00B7FF;
}
