#index {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:white;
  background:url("/images/cinema.jpg") ;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 1200px;
}

a {
  color: #00B7FF;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#main-random{
    display:flex;
    flex-direction: row;
    padding :5px;
}
.flex{
    display: flex;
    flex-direction: row;
    width: 1200px;
    flex-wrap: wrap;
}
.description{
    width: 200px;
    margin: 20px;
    align-items: stretch;
color:black;

}
#nav{height: 30px;
    display: flex;
    flex-direction: row;
    background-color: rgb(223, 223, 252);
    color:white;
    padding: 50px;

}

a{
    margin: 10px;
}